html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    font-size: 12vh;
    text-align: center
}

.intro > h2 {
    font-size: 3vmin;
    text-align: center;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

.grid {
    display:grid;
    margin: 45px auto;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

/* Style contact form */
.pages h2, .gallery h2, .blog h2 {
    text-align: center;
}
.blog-post h4, .blog-post h5 {
    text-align: center;
}

.blog-list {
    max-width: 600px;
    margin: 25px auto  0px;
    text-align: center;
}

.blog-post {
    max-width: 600px;
}

.pages-content {
    max-width: 600px;
    margin: 45px auto 0px;
}

.question-form {
    max-width: 450px;
    margin: auto;
}

.question-form textarea {
    resize: none;
}