{{ partial "header" . }}

    {{ if eq .Section "blog" }}
    <main class="blog">
        <h2>{{ .Title }}</h2>
        <div class="blog-list">
        {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
        </div>
    </main>
    {{ else if eq .Section "gallery" }}
    <main class="gallery">
        <h2>Gallery</h2>
        <div class="grid">
            {{ range (.Paginator 9).Pages }}

                <div class="gallery-img">
                    <a href="{{ relref . (.File.LogicalName)}}">     
                    <img src="{{.Params.image }}"/> 
                    </a>
                </div>
            {{ end }}
        </div>
    </main>
    {{ end }}

{{ partial "paginator" . }}

{{ partial "footer" . }}