{{ partial "header" . }}


    {{ if eq .Section "blog" }}
    <main class="blog-post">
        {{ partial "list-item" . }}

        <br> <div class="text-justify">{{ .Content }}</div>

        <!-- related posts with the same tags -->
        {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

        {{ if $related }}

            <h4 class="page-header">Related</h4>

            {{ range $related }} {{ partial "list-item" . }} {{ end }}

        {{ end }}

        {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

            <h4 class="page-header">Comments</h4>

            {{ template "_internal/disqus.html" . }}

        {{ end }}
    </main>
    {{ else if eq .Section "gallery"}}
    <main class="gallery-post">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
    </main>
    {{ else if eq .Section "pages" }}
    <main  class="pages">
        <h2>{{ .Title }}</h2>
        
        <div class="pages-content">
            {{ .Content }}
        </div>
    </main>
    {{ end }}


{{ partial "footer.html" . }}
