        <footer>

            <p class="copyright text-center text-muted">{{ .Site.Params.copyright | default "&copy; All rights reserved. Powered by [Hugo](https://gohugo.io) and [Minimal](https://github.com/calintat/minimal)" | markdownify }}</p>

        </footer>
       
    </body>

</html>
