---
title: "Ask me a question:"
url: "/contact"
date: 2018-02-15T16:10:11-05:00
---

<form class="question-form" name="contact" netlify-honeypot="bot-field" action="/success" netlify>
  <p class="hidden">
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>
  <div class="form-group">
    <label>Your Name</label>
    <input class="form-control" type="text" name="name" placeholder="John Smith">
  </div>
  <div class="form-group">
    <label>Your Email</label>
    <input class="form-control" aria-describedby="emailHelp" type="email" name="email" placeholder="johnsmith@example.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Question</label>
    <textarea class="form-control" rows="3" name="message" resize="false" placeholder="What is your question?"></textarea>
  </div>
  <button type="submit" class="btn btn-primary right">Ask!</button>
</form>